<p>
  <strong> Value: </strong>
  <%= @blood_sugar_reading.value %>
</p>
<p>
  <strong> Read time: </strong>
  <span data-transform='dateTimeLocal'><%= @blood_sugar_reading.read_time.iso8601 %></span>
</p>
<%= link_to 'Aanpassen', edit_blood_sugar_reading_path(@blood_sugar_reading) %>
|
<%= link_to 'Nieuwe creëren', new_blood_sugar_reading_path(blood_sugar_reading: { read_time: @blood_sugar_reading.read_time }) %>
|
<%= link_to 'Terug', blood_sugar_readings_path %>
