<%# form_for(meal) do |f| %>
<%= form_for(meal, url: meal.persisted? ? other_meal_path(meal) : other_meals_path) do |f| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consumption_time %>
    <%= f.datetime_local_select :consumption_time %>
  </div

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
