<%= form_for(meal) do |meal_form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(meal.errors.count, "error") %>
            prohibited this meal from being saved:</h2>

        <ul>
            <% meal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
      <%= meal_form.label :consumption_time %>
      <%= meal_form.datetime_local_select :consumption_time %>
  </div>

  <%= meal_form.fields_for(:ingredients) do |ingredient_form| %>
    <% %i(name _destroy).each do |s| %>
      <%= ingredient_form.hidden_field(s) %>
    <% end %>
    <% %i(quantity carbs proteins fat calories).each do |s| %>
      <%= ingredient_form.hidden_field "#{s}_integral" %>
      <%= ingredient_form.hidden_field "#{s}_fractional" %>
    <% end %>
    <% unless meal.ingredients[ingredient_form.index]._destroy %>
      <p>
        <%= meal.ingredients[ingredient_form.index].quantity || 0 %>g <%= meal.ingredients[ingredient_form.index].name %>
        <%= ingredient_form.button "Edit",
                                   name: "meal[ingredients_attributes][#{ingredient_form.index}][commit]",
                                   value: :edit   %>
        <%= ingredient_form.button "Delete",
                                   name: "meal[ingredients_attributes][#{ingredient_form.index}][commit]",
                                   value: :delete,
                                   data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  <% end %>



  <%= meal_form.button t('ingredients.index.new'),
                        name: "meal[ingredients_attributes][#{meal.ingredients.length}][commit]",
                        value: :new %>

  <div class="actions">
      <%= meal_form.submit %>
  </div>
<% end %>
