<%= form_for(form_object) do |meal_form| %>
  <% if form_object.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(form_object.errors.count, "error") %>
            prohibited this meal from being saved:</h2>

        <ul>
            <% form_object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
      <%= meal_form.label :consumption_time %>
      <%= meal_form.text_field :consumption_time, class: 'meal-consumptionTimeInput', data: { 'new-meal-target': 'consumptionTime'} %>
  </div>

  <%= meal_form.fields_for(:ingredients) do |ingredient_form| %>
    <% %i(name _destroy).each do |s| %>
      <%= ingredient_form.hidden_field(s) %>
    <% end %>
    <% %i(quantity carbs proteins fat calories).each do |s| %>
      <%= ingredient_form.hidden_field "#{s}_integral" %>
      <%= ingredient_form.hidden_field "#{s}_fractional" %>
    <% end %>
    <% unless form_object.ingredients[ingredient_form.index]._destroy %>
      <p>
        <%= form_object.ingredients[ingredient_form.index].quantity || 0 %>g <%= form_object.ingredients[ingredient_form.index].name %>
        <%= ingredient_form.button "Edit",
                                   name: "meal[ingredients_attributes][#{ingredient_form.index}][commit]",
                                   value: :edit   %>
        <%= ingredient_form.button "Delete",
                                   name: "meal[ingredients_attributes][#{ingredient_form.index}][commit]",
                                   value: :delete,
                                   data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  <% end %>



  <%= meal_form.button t('ingredients.index.new'),
                        name: "meal[ingredients_attributes][#{form_object.ingredients.length}][commit]",
                        value: :new %>

  <div class="actions">
      <%= meal_form.submit %>
  </div>
<% end %>
