<%= @meal.carbs %>g koolhydaten
<%= form_for @meal do |f| %>
  <% if @meal.errors.any? %>
    <h2><%= "#{pluralize(@meal.errors.count, "error")} prohibited this meal from being saved:" %></h2>
    <ul>
      <% @meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :consumption_time %>
  <%= f.datetime_local_select :consumption_time %>

  <table>
    <tr>
      <th><%= f.submit t('ingredients.index.new'), name: :new_ingredient %></th>
      <th>Ingrediënten</th>
    </tr>

    <%= f.fields_for :ingredients do |ff| %>
      <% ingredient = @meal.ingredients[ff.index] %>
      <% if ingredient._destroy %>
        <%# ff.hidden_field(:_destroy) %>
      <% else %>
        <tr>
          <td>
            <%= ff.submit 'edit', name: "edit_ingredient[#{ff.index}]" %>
            <%= ff.submit 'delete', name: "delete_ingredient[#{ff.index}]" %>
          </td>
          <td>
            <% Ingredient.attribute_names.each do |attribute_name| %>
              <%= ff.hidden_field(attribute_name) %>
            <% end %>
            <%= ingredient.quantity || 0 %>g <%= ingredient.name %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>



  <div class="actions"><%= f.submit t(:save) %><div>

<% end %>
