<tr class="<%= meal.consumption_day %>">
  <%# TODO: link to meal %>
  <td><%= button_to(t('destroy'), meal, { method: 'delete' }) %></td>
  <td><%= meal.carbs %>g</td>
  <td><%= meal.proteins %>g</td>
  <td><%= meal.fat %>g</td>
  <td><%= meal.calories %>kCal</td>
  <td>
    <div data-controller='date-time-local'><%= meal.consumption_time_iso %></div>
  </td>
</tr>