<tr class="<%= meal.consumption_time.strftime('%A') %>">
  <td><%= button_to(t('destroy'), meal, { method: 'delete' }) %></td>
  <td><%= link_to "#{meal.carbs}g", meal %></td>
  <td><%= meal.proteins %>g</td>
  <td><%= meal.fat %>g</td>
  <td><%= meal.calories %>kCal</td>
  <td><% link_to meal.consumption_time.try(:iso8601), meal, data: {transform: 'dateTimeLocal'} %>
</tr>