<tr class="<%= meal.consumption_day %>">
  <td><%= button_to(t('destroy'), meal, { method: 'delete' }) %></td>
  <%# path should at least be dynamic %>
  <td><a href="<%= url_for(meal) %>" ><%= meal.carbs %>&thinsp;g</a></td>
  <td><a href="<%= url_for(meal) %>" ><%= meal.proteins %>&thinsp;g</a></td>
  <td><a href="<%= url_for(meal) %>" ><%= meal.fat %>&thinsp;g</a></td>
  <td><a href="<%= url_for(meal) %>" ><%= meal.calories %>&thinsp;kCal</a></td>
  <td>
    <a href="<%= url_for(meal) %>" data-controller='date-time-local'>
      <%= meal.consumption_time_iso %></a>
  </td>
</tr>