<table>
  <thead>
    <tr>
      <th><%= link_to t('.new'), new_meal_path %></th>
      <th><%= Meal.human_attribute_name(:carbs) %></th>
      <th><%= Meal.human_attribute_name(:proteins) %></th>
      <th><%= Meal.human_attribute_name(:fat) %></th>
      <th><%= Meal.human_attribute_name(:calories) %></th>
      <th><%= Meal.human_attribute_name(:consumption_time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
      <%= render partial: 'meals_row', locals: { meal: meal } %>
    <% end %>
  </tbody>
</table>
<br>

<% if params[:week] %>
  <%= link_to 'Week nadien', meals_path(params: { week: week_later_start_date_time(params[:week]) }) %> |
<% end %>
<%= link_to 'Week voordien', meals_path(params: { week: week_earlier_start_date_time(params[:week]) }) %>
