<p id="notice"><%= notice %></p>

<p>
  <strong>Consumption time:</strong>
  <%= @meal.consumption_time %>
</p>

<p>
ingredients:
  <%= @meal.ingredients.map(&:name) %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
