<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Intake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%# TODO: load this through bower instead %>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/globalize/0.1.1/globalize.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/globalize/0.1.1/cultures/globalize.culture.fr-MC.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/0.1.1/cultures/globalize.culture.en-US.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div>
      <div class="toggler">
        <button class="collapsed" data-toggle="collapse" data-target=".menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= controller.controller_name %></a>
      </div>
      <div class="menu">
        <ul>
          <% unless controller.controller_name == 'meals' %>
            <li><%= link_to 'meals', meals_path %></li><% end %>
          <% unless controller.controller_name == 'insulin_doses' %>
            <li><%= link_to 'insulin doses', insulin_doses_path %></li><% end %>
          <% unless controller.controller_name == 'blood_sugar_readings' %>
            <li><%= link_to 'blood sugar readings', blood_sugar_readings_path %></li><% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% unless notice.blank? %><p class="notice"><%= notice %></p><% end %>
  <% unless alert.blank? %><p class="alert"><%= alert %></p><% end %>
<%= yield %>
<script>
  Globalize.culture( "<%= I18n.locale == 'en' ? 'en-US' : I18n.locale %>" );
</script>
</body>
</html>
