<!DOCTYPE html>
<!--
  We link to an unexisting manifest to get rid of the old obsolete one.
  We might get rid of it once we're sure all platform have this update.
-->
<html <%= raw 'manifest="/unknown.manifest"' if %w(index).include?(action_name) %> >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Intake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_tag do %>
    window.abbrDayNames = <%= raw I18n.t('date.abbr_day_names') %>;
    window.decimalSeparator = '<%= raw I18n.t('number.format.separator') %>';
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div>
      <div class="toggler">
        <button class="collapsed" data-toggle="collapse" data-target=".menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= controller.controller_name %></a>
      </div>
      <div class="menu">
        <ul>
          <% unless controller.controller_name == 'meals' %>
            <li><%= link_to 'meals', meals_path %></li><% end %>
          <% unless controller.controller_name == 'insulin_doses' %>
            <li><%= link_to 'insulin doses', insulin_doses_path %></li><% end %>
          <% unless controller.controller_name == 'blood_sugar_readings' %>
            <li><%= link_to 'blood sugar readings', blood_sugar_readings_path %></li><% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% unless notice.blank? %><p class="notice"><%= notice %></p><% end %>
  <% unless alert.blank? %><p class="alert"><%= alert %></p><% end %>
<%= yield %>
</body>
</html>
