<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meals: the numbers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
index  <%= javascript_include_tag('application', 'data-turbolinks-track' => true) unless ENV['NO_JS'] %>
  <%= javascript_pack_tag('application', 'data-turbolinks-track' => true) unless ENV['NO_JS'] %>
  <%= favicon_link_tag image_path('maskable_icon.png'), :rel => 'icon', :type =>  'image/png' %>
  <%= csrf_meta_tags %>
  <link rel="manifest" href="/app.webmanifest" />
  <link rel=”apple-touch-icon” href=”<%= image_path('maskable_icon.png') %>” />
  <link rel="icon" sizes="610x610" href=”<%= image_path('maskable_icon.png') %>”>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
  <nav>
    <div>
      <div class="toggler">
        <button class="collapsed" data-toggle="collapse" data-target=".menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= controller.controller_name %></a>
      </div>
      <div class="menu">
        <ul>
          <% unless controller.controller_name == 'meals' %>
            <li><%= link_to 'meals', meals_path %></li><% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% unless notice.blank? %><p class="notice"><%= notice %></p><% end %>
  <% unless alert.blank? %><p class="alert"><%= alert %></p><% end %>
<%= yield %>
</body>
</html>
